modules = ["python-base-3.13"]
[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40636450
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8000
externalPort = 80
